@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Nunito', 'sans-serif', 'Calistoga';
}

.custom-img {
  background-image: url('/PWN-hero-image.jpg');
}

.main-title {
  font-family: 'Calistoga';
}